.van-detail-container {
    padding-inline: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button:visited {}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: grid;
    grid-template-columns: 1.3fr 2fr 0.3fr;
    gap: 30px 20px;
    color: #161616;
    padding-top: 20px;
    align-items: center;

}

.van-detail img {
    border-radius: 5px;
    max-width: 100%;
    max-height: 380px;
}

.van-detail .van-info {
    text-align: center;
    margin-top: 10px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail>i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #ff8c38;
    color: white;
    font-size: 1.125rem;
    width: 80%;
}