.van-detail-container {
    padding-inline: 27px;
}

.van-detail-container .back-button {
    color: var(--color-text);
    text-decoration: none;
}

.van-detail-container .back-button:visited {}

.van-detail-container .back-button span {
    text-decoration: underline;
}


.van-detail {
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    gap: 30px 20px;
    color: var(--color-text);
    padding-top: 20px;
    align-items: center;

}

.van-detail img {
    border-radius: 5px;
    max-width: 100%;
}

.van-detail .van-info {
    text-align: center;
    margin-top: 10px;
}

h2 .van-type {
    margin-right: 20px;
    font-size: 1rem;
}

@media (max-width:600px) {
    .van-detail {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px 20px;
        color: var(--color-text);
        padding-top: 20px;
        align-items: center;

    }
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail>i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}
.van-description{
    padding-bottom: 15px;
}
.van-detail .link-button {
    background-color: var(--color-title);
    color: white;
    font-size: 1.125rem;
    width: 80%;
    
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: var(--color-title);
    color: var(--color-text);
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}


.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}