.host-reviews {
    padding-inline: 26px;
    color: #fff
}

.host-reviews .top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.host-reviews .top-text>h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
}

.host-reviews .top-text>p {
    margin: 0;
    color: #da4949;
}

.host-reviews .top-text>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-reviews>img {
    margin-bottom: 36px;
    max-width: 600px;
}

.host-reviews .review {
    margin-block: 25px;
}

.host-reviews .review .info {
    display: flex;
}

.host-reviews .review .name {
    color: #ee5151;
    margin-right: 10px;
    font-weight: 600;
}

.host-reviews .review .date {
    color: #eeb2b2;
}

.host-reviews hr {
    background-color: #c0b9b9;
    height: 1px;
    border: 0;
}

.host-reviews .review-star {
    color: var(--color-title);
    margin-right: 5px;
}