.dash-container {
    background: linear-gradient(0deg, var(--color-title), var(--color-bg-alt));

}

.host-dashboard-earnings {
    padding: 37px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-earnings>.info>h1 {
    font-size: 36px;
    color: #fff;
    margin: 0;
}

.host-dashboard-earnings>.info>p {
    color: #f0cfcf;
}

.host-dashboard-earnings>.info>p>span {
    text-decoration: underline;
    font-weight: bold;
}

.host-dashboard-earnings>.info>h2 {
    margin: 0;
    font-size: 38px;
    color: #fff;
    font-weight: 900;
}

.host-dashboard-reviews {
    padding: 25px 26px;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, var(--color-bg-alt), transparent);

}

.host-dashboard-reviews>h2 {
    margin: 0;
}

.host-dashboard-reviews .star {
    color: #da4949;
    margin-left: 15px;
    font-size: 25px;
    margin-bottom: 10px;
}

.host-dashboard-reviews p {
    margin-left: 5px;
    font-size: 20px;
    color: #ecbaba;
    margin-right: auto;
}
.star-container{
    display: flex;
    margin-right: auto;
    align-items: center;
    flex-wrap: wrap;
}

.host-dashboard-reviews p>span {
    font-weight: bold;
    color: #fff;
}

.host-dashboard-vans {
    padding: 38px 26px;
}

.host-dashboard-vans>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.host-dashboard-vans {
    padding-inline: 0;

}