/*** VAN PAGES ***/
.van-list-container {
    padding-inline: 23px;
}

.van-list-filter-buttons {
    display: flex;
    flex-wrap: wrap;
}

.van-list-filter-buttons>a {
    margin-right: 15px;
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #ffead0;
    color: #4d4d4d;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #ffead0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4d4d4d;
}

i[class*="van-type-"] {
    padding: 7px 14px;
}

