.host-van-detail-layout-container {
    padding: 24px;
    margin: 30px 26px;
}

.host-van-detail {
    display: flex;
    align-items: center;
}

.host-van-detail>img {
    height: 160px;
    border-radius: 5px;
    margin-right: 20px;
}

.host-van-detail-info-text>h3 {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
}

.host-van-detail-info-text>h4 {
    font-size: 20px;
    margin-block: 0;
}

.host-van-detail-nav {
    display: flex;
    margin-block: 25px;
}

.host-van-detail-nav a {
    text-decoration: none;
    color: #ee8787;
    font-weight: 500;
    padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
    text-decoration: none;
    color: #ee8787;
    font-weight: 500;
    padding: 5px 15px;
    margin-left: -15px;
}

.host-van-detail-nav a:hover {
    color: #ee4b4b;
    text-decoration: underline;
    font-weight: 700;
}

.host-van-detail-info>h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.host-van-detail-info>h4>span {
    font-weight: 500;
}

.host-van-price {
    font-size: 24px;
    font-weight: 500;
}

.host-van-price>span {
    font-size: 16px;
    color: #ee8787;
}

.host-van-detail-image {
    height: 100px;
    border-radius: 5px;
}