.van-detail-container {
    padding-inline: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button:visited {}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail>i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #ff8c38;
    color: white;
    font-size: 1.125rem;
}