.host-income {
    padding-inline: 26px;
    color: #161616;
}

.host-income>p {
    color: #4d4d4d;
}

.host-income>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income>h2 {
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

img.graph {
    width: 100%;
    max-width: 500px;
}

.host-income .info-header>p {
    color: #4d4d4d;
}

.host-income .info-header>p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income .info-header>h3 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

.host-income .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;
}

.host-income .transaction>h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.host-income .transaction>p {
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
}