* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff7ed;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: unset;
    color: unset;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

header .login-icon {
    height: 18px;
    width: 18px;
}

nav {
    display: flex;
}

main {
    margin-bottom: 84px;
}

footer {
    background-color: #161616;
    color: #aaaaaa;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.back-button {
    display: block;
    color: black;
    text-decoration: none;
    margin-left: 26px;
}

.back-button span:hover {
    text-decoration: underline;
}

.link-button:hover {
    transform: translate(1px, 1px);
}
.error{
    color: red;
    padding-left: 15px;
}