* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    color: var(--color-text);
    background: linear-gradient(to bottom, hsl(15, 55%, 6%), hsl(0, 0%, 0%));
    font-family: "tenon", sans-serif;
}

a {
    text-decoration: unset;
    color: unset;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
    background: linear-gradient(to top, hsl(15, 55%, 6%), hsl(0, 0%, 0%));

}

header .site-logo {
    margin-right: auto;
    width: 160px;
    height: auto;

}

.logo-img {
    max-width: 100%;
    background: transparent;
}

header a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
    padding: 5px 20px;
}

@media (max-width: 550px) {
    header {
        padding: 10px;
    }

    header a {
        text-decoration: none;
        color: #4d4d4d;
        font-weight: 600;
        padding: 5px 10px;
    }

    header .site-logo {
        margin-left: -35px;
    }
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

header .login-icon {
    height: 18px;
    width: 18px;
}

nav {
    display: flex;
}

.login-btn,
.logout {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    padding: 0 15px;
    cursor: pointer;

}

.header-nav-link {
    color: var(--color-text);
}

footer {
    color: #aaaaaa;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin-top: auto; */
    font-weight: 500;

}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.back-button {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-left: 26px;
}

.back-button span:hover {
    text-decoration: underline;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

input:focus {
    outline: none;
    min-width: 100%;

}

.error {
    color: red;
    padding-left: 15px;
}